.button {
    -fx-text-fill: black;
    -fx-padding: 10,10,10,100;
    -fx-font-size:28px;
    -fx-font-family: "Impact";
    -fx-border-color: rgb(0, 0, 0);
}
.button:hover {
    -fx-border-color: rgb(255, 157, 0);

}
.root {
	-fx-background-color: #aa2009;
}

#root {
    -fx-background-color: #aa2009;
}

#border {
    -fx-fill: #aa2009;
    -fx-background-color: #aa2009;
}

#cardHover {
    -fx-fill: #aa2009;
    -fx-background-color: #aa2009;
}

#placeHolder {
    -fx-fill: #aa2009;
}

.label{
    -fx-font-size:28px;
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(255, 157, 0);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgb(0,0,0) , 0,0,0,1 );
}
.text-field{
    -fx-font-size:28px;
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgb(0,0,0) , 0,0,0,1 );
    -fx-border-color: #000000;
}

.table-cell {
    -fx-font-size:28px;
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgb(0,0,0) , 0,0,0,1 );
    -fx-border-color: #000000;
    -fx-text-alignment: center;
}


.table-view .column-header {
    -fx-background-color: #444444;
}

.table-view .filler {
    -fx-background-color: #444444;
}

#addToDeck {
    -fx-pref-width: 80;
}

#remove {
    -fx-pref-width: 130;
}

#cardName {
    -fx-pref-width: 460;
}

#cardName2 {
    -fx-pref-width: 500;
}

.table-view .table-cell:even {
    -fx-background-color: #7a7a7a;
}

.table-view .table-cell:odd {
    -fx-background-color: #aaaaaa;
}

.table-view {
    -fx-min-width: 600;
}

.table-view {
    -fx-width: 200px;
}


.text-field:hover {
    -fx-border-color: rgb(255, 157, 0);

}
.text-field:focused {
    -fx-border-color: rgb(255, 157, 0);

}
.menu-button {
    -fx-border-color: rgb(0, 0, 0);
}
.menu-button:hover {
    -fx-border-color: rgb(255, 157, 0);
}
.menu-button:active {
    -fx-border-color: rgb(255, 157, 0);
}
#infoText{
    -fx-font-size:20px;
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgb(0,0,0) , 0,0,0,1 );

}